.card a button.btn.btn-primary {
    background-color: #e02d36;
    /* Your preferred color */
    border-color: #ffffff;
    /* Matching border color */
}
.card{
    p{
        font-size: large;
    }

}

.btn.btn-primary{
    background-color: #e02d36;
    /* Your preferred color */
    border-color: #ffffff;
    /* Matching border color */
}