{% extends "base.html" %}
{% load static %}
{% block title %}
AboutUs{% endblock title %}
{% block body %}
<div class="headline" style="text-align: center;">
    <h1>AboutUs!!!</h1>
    <div class="container d-flex justify-content-center">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/static/tb2.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">TravelBangla</h5>
              <p class="card-text">Welcome to TravelBangla, your trusted partner in discovering the beauty of Bangladesh and beyond. We are passionate about creating unforgettable travel experiences that showcase the rich culture, breathtaking landscapes, and hidden gems of our homeland.

                At TravelBangla, we believe that every journey tells a story. Whether you're looking for an adventure-filled trip, a relaxing getaway, or a deep dive into the heritage of Bangladesh, we are here to make it happen. Our team of travel experts curates personalized itineraries, ensuring every trip is seamless, enjoyable, and filled with authentic local experiences.
                
                From exploring the serene hills of Bandarban to the pristine beaches of Cox’s Bazar, the lush tea gardens of Sylhet to the historical wonders of Sonargaon, we bring you the best of Bangladesh. We also offer international tour packages, making global travel easy and hassle-free for our clients.
                
                With a commitment to exceptional service, affordability, and sustainable tourism, TravelBangla is more than just a travel agency—we are your gateway to a world of adventure.
                
                Let’s explore, experience, and embrace the wonders of travel together!
                
                Your Journey, Our Passion.</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    


</div>

{% endblock body %}